/*EXTRAS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-body: #fff;
    --color-white: #fff;
    --color-black: #000;
    --color-blue: #29caf8;
    --color-text: #000;
}
body {
    margin: 0;
    padding: 0;
    background: var(--color-body);
    font-family: "PT sans", sans-serif;
    background-size: cover;
    background-position: center;
    /*background: linear-gradient(#0df8f9, #000);*/
}
body.dark {
    --color-body: #000;
    --color-white: #CCC;
    --color-black: #18191A;
    --color-blue: #29caf8;
    --color-text: #ccc;
}

/*--------------------
MENU
--------------------*/
.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: var(--color-black);
    z-index: 100;
}
.nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--color-black);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .nav-bar .slideropen {
    color: var(--color-white);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}
.nav .nav-bar .logo a {
    font-size: 22px;
    font-weight: 500;
    color: var(--color-white);
    text-decoration: none;
}
.menu .logo-toggle {
    display: none;
}
.nav-bar .nav-links{
    display: flex;
    align-items: center;
}
.nav-bar .nav-links li {
    margin: 0 5px;
    list-style: none;
}
.nav-links li a {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-white);
    text-decoration: none;
    padding: 10px;
}
.nav-links li a:hover {
    color: var(--color-blue);
}
.nav-links li a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: var(--color-blue);
    opacity: 0;
    transition: all 0.3s ease;
}
.nav-links li:hover a::before {
    opacity: 1;
}
.nav-bar .darklight-searchBox {
    display: flex;
    align-items: center;
}
.darklight-searchBox .darlight,
.darklight-searchBox .searchToggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}
.darlight i,
.searchToggle i {
    position: absolute;
    color: var(--color-white);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.darlight i.sun {
    opacity: 0;
    pointer-events: none;
}
.darlight.activeLight i.sun {
    opacity: 1;
    pointer-events: auto;
}
.darlight.activeLight i.moon {
    opacity: 0;
    pointer-events: none;
}
.searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
}
.searchToggle.activeBar i.cancel {
    opacity: 1;
    pointer-events: auto;
}
.searchToggle.activeBar i.search {
    opacity: 0;
    pointer-events: none;
}

/*BUCADOR*/
.searchBox {
    position: relative;
}
.searchBox .bar-menu {
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--color-blue);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.searchToggle.activeBar ~ .bar-menu {
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}
.bar-menu::before {
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--color-blue);
    transform: rotate(-45deg);
    z-index: -1;
}
.bar-menu input {
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-white);
    background-color: var(--color-black);
}
body.dark .bar-menu input {
    color: var(--color-text);
}

.bar-menu i {
    position: absolute;
    color: var(--color-white);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}
body.dark .bar-menu i {
    color: var(--color-text);
}

/*AJUSTABLE*/
@media (max-width: 790px) {
    .nav .nav-bar .slideropen {
        display: block;
    }
    .menu {
        position: fixed;
        height: 100%;
        width: 250px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--color-black);
        z-index: 100;
        transition: all 0.5s ease;
    }
    .nav.active .menu {
        left: -0%;
    }
    .nav.active .nav-bar .navLogo a {
        opacity: 1;
        transition: all 0.3s ease;
    }
    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo-toggle .sliderclose {
        color: var(--color-white);
        font-size: 24px;
        cursor: pointer;
    }
    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }
    .nav-links li a {
        display: block;
        margin-top: 20px;
    }
}


/*------------------
BTN FAVORITOS
--------------------*/
.boton-2 {
    display: flex;
}
.btn-2 {
overflow: hidden;
position: fixed;
left: 1%;
top: 10%;
text-decoration: none;
color: black;
padding: 10px 15px;
border-radius: 30px;
box-shadow:
0 0 0 0 rgba(143, 64, 248, 0.5),
0 0 0 0 rgba(39, 200, 255, 0.5);
transition: 
transform 0.3s ease,
box-shadow 0.3s ease;
}
.btn-2::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    left: -100px;
    top: -50px;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg,
    #27d86c 0%,
    #26caf8 50%,
    #c625d0 100%);
    z-index: -100;
    transition: transform 0.5s ease;
}
.btn-2:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5),
    -10px 10px 25px 0 rgba(39, 200, 255, 0.5);
}
.btn-2:hover::after {
    transform: rotate(150deg);
}

/*------------------
BTN CARRITO
--------------------*/
.boton-3 {
    display: flex;
}
.btn-3 {
overflow: hidden;
position: fixed;
left: 11%;
top: 10%;
text-decoration: none;
color: black;
padding: 10px 15px;
border-radius: 30px;
box-shadow:
0 0 0 0 rgba(143, 64, 248, 0.5),
0 0 0 0 rgba(39, 200, 255, 0.5);
transition: 
transform 0.3s ease,
box-shadow 0.3s ease;
}
.btn-3::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    left: -100px;
    top: -50px;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg,
    #27d86c 0%,
    #26caf8 50%,
    #c625d0 100%);
    z-index: -100;
    transition: transform 0.5s ease;
}
.btn-3:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5),
    -10px 10px 25px 0 rgba(39, 200, 255, 0.5);
}
.btn-3:hover::after {
    transform: rotate(150deg);
}

/*------------------
CARRUCEL
--------------------*/
.slider {
    width: auto;
    height: 350px;
    margin: 110px auto 50;
    overflow: hidden;
}
.slider ul {
    display: flex;
    animation: cambio 16s infinite alternate linear;
    padding: 0;
    width: 400%;
}
.slider li {
    width: 100%;
    list-style: none;
}
.slider img {
    width: 100%;
    height: 100%;
}

@keyframes cambio {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
} 

/*------------------
TEXT CARRUCEL
--------------------*/
.text p{
    font-size: 2rem;
    color: var(--color-white);
    position: absolute;
    top: 30%;
    left: 5%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.text .p1{
    font-size: 2rem;
    color: var(--color-white);
    position: absolute;
    top: 35%;
    left: 5%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

/*------------------
BTN UBICACION
--------------------*/
.boton-4 {
    display: flex;
}
.btn-4 {
overflow: hidden;
position: absolute;
left: 5%;
top: 45%;
text-decoration: none;
color: black;
padding: 10px 30px;
border-radius: 30px;
box-shadow:
0 0 0 0 rgba(143, 64, 248, 0.5),
0 0 0 0 rgba(39, 200, 255, 0.5);
transition: 
transform 0.3s ease,
box-shadow 0.3s ease;
}
.btn-4::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    left: -100px;
    top: -50px;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg,
    #27d86c 0%,
    #26caf8 50%,
    #c625d0 100%);
    z-index: -100;
    transition: transform 0.5s ease;
}
.btn-4:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5),
    -10px 10px 25px 0 rgba(39, 200, 255, 0.5);
}
.btn-4:hover::after {
    transform: rotate(150deg);
}

/*------------------
ETIQUETAS
--------------------*/
.etiquetas {
    margin: 0px auto 50;
}
.etiquetas td {
    color: var(--color-text);
    background: transparent;
}

/*------------------
CATALOGOS
--------------------*/
.text-catalogos p {
    display: flex;
    margin: 0px auto 20;
    font-size: 1.5rem;
    color: var(--color-text);
    position: relative;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.catalogos {
    width: 100%;
    height: 50vh;
    /*background-color: aliceblue;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 50;
}
.secciones {
    width: 25%;
    height: 50vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 1.5%;
    border-radius: 10px;
}
.secciones img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.secciones .categorias {
    width: 0%;
    height: 50vh;
    background-color: rgba(56, 53, 53, 0.568);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .4s all;
}
.categorias h1 a{
    color: aliceblue;
    text-shadow: 1px 1px 1px #000;
    font-size: 1.0em;
    text-transform: uppercase;
    text-decoration: none;
}
.secciones:hover .categorias {
    width: 100%;
}
.slider-s ul { 
    display: flex;
    animation: cambio 15s infinite alternate linear;
    padding: 0;
    width: 300%;
}
.slider-s li {
    width: 100%;
    height: 300px;
}
.slider-s img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes cambio {
    0% {margin-left: 0%;}
    30% {margin-left: 0%;}

    35% {margin-left: -100%;}
    65% {margin-left: -100%;}

    70% {margin-left: -200%;}
    100% {margin-left: -200%;}
}

/*------------------
PRODUCTOS
--------------------*/
.productos .text-productos {
    display: flex;
    margin: 0px auto 20;
    font-size: 1.5rem;
    color: #000;
    position: relative;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.product-destacados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
}
.product-card {
    background-color: #fff;
    padding: 1rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.product-img {
    position: relative;
}
.product-img img {
    width: 100%;
}
.product-img .descuento {
    position: absolute;
    left: 0;
    background-color: #26caf8;
    color: #fff;
    padding: 2px 1.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}
.product-card:hover .descuento {
    background-color: #000;
}
.btn-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: -3rem;
    z-index: -1;
    transition: all .4s ease;
}
.btn-group span {
    border: 1px solid #26caf8;
    padding: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;
}
.btn-group span:hover  {
    background-color: #26caf8;
}
.btn-group span:hover i {
    color: #fff;
}
.btn-group span i {
    font-size: 1.5rem;
    color: #26caf8;
}
.product-card:hover .btn-group {
    z-index: 0;
    right: -1rem;
}
.product-star {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
}
.stars {
    grid-row: 1/2;
    grid-column: 1/-1;
}
.stars i {
    font-size: 1.3rem;
    color: #26caf8;
}
.product-star h3 {
    grid-row: 2/3;
    grid-column: 1/-1;

    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.product-star h3:hover {
    color: #26caf8;
}
.car-agregar {
    justify-self: end;
    border: 1.5px solid #26caf8;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}
.car-agregar:hover {
    background-color: #26caf8;
}
.car-agregar i {
    font-size: 1.5rem;
    color: #26caf8;
}
.car-agregar:hover i {
    color: #fff;
}
.product-star .precio {
    justify-self: end;
    align-self: center;
    font-size: 1.7rem;
    font-weight: 600;
}
.product-star .precio span {
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #777;
    margin-left: .5rem;
}

/*--------------------
MENU DE REDES SOCIALES
--------------------*/
.menu-redes {
    left: 78%;
    top: 8%;
    position: fixed;
    width: 260px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-redes li {
    position: absolute;
    left: 16;
    list-style: none;
    transform-origin: 130px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(45deg) translateX(100px);
}
.menu-redes.activeColor li {
    transform: rotate(calc(-240deg / 4 * var(--i)));
}
.menu-redes li a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    border-radius: 50%;
    color: #000;
    transform: rotate(calc(-240deg / -4 * var(--i)));
    color: transparent;
    transition: 1s;
    transition-delay: .5s;
}
.menu-redes li a::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    border-radius: 2px;
    box-shadow: 
    0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 50px var(--clr);
    background: var(--clr);
    transform: rotate(calc(var(--i) * 30deg)) translate(0,23px);
    transition: height .5s,  width .5s, transform .5s;
    transition-delay: 0s, 0s, 0s;
}
.menu-redes.activeColor li a::before{
    width: 45px;
    height: 45px;
    border: 2px solid var(--clr);
    box-sizing: border-box;
    background: #fff;
    transform: rotate(calc(var(--i) * 90deg)) translate(0px,0px);
    transition: transform 0.5s, height 0.5s,  width 0.5s;
    transition-delay: 1s, 1.5s, 1.5s;
    rotate: 135deg;
}
.menu-redes.activeColor li:hover a::before {
    background: var(--clr);
    color: #fff;
    box-shadow: 
    0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 50px var(--clr);
}
.menu-redes li a::after {
    content: "";
    position: absolute;
    left: 0px;
    width: 30px;
    height: 2px;
    background: var(--clr);
    z-index: -1;
    transform: rotate(calc(var(--i) * 0deg)) translate(15px, 0px);
    transition: 0.5s;
    transition-delay: 0.5s;
}
.menu-redes.activeColor li a::after {
    left: 10px;
    width: 40px;
    transition-delay: 0.5s;
    transform: rotate(calc(var(--i) * -60deg)) translate(44px, 0px);
}
.menu-redes.activeColor li a i {
    position: relative;
    color: #000;
    z-index: 10000;
}
.menu-redes.activeColor li a {
    color: var(--clr);
}
.menu-toggle {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2em;
    transition: transform 1.5s;
}
.menu-redes.activeColor .menu-toggle {
    transform: rotate(-360deg);
}

/*------------------
AJUSTAR
--------------------*/
@media (min-width: 700px) and (max-width:990px){
    
}